<div class="container-fluid">
    <h1 class="header">Meeting Planner</h1>
        <div class="row">
            <div class="col-md-4">
    
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <i class="fas fa-unlock"></i>
                            reset-password
                        </div>
                        <form>
                   
                     <div class="form-group">
                             <label for="">Email</label>
                                 <input type="email" class="form-control" id="exampleInputEmail4" name="email" [(ngModel)]="email" placeholder="email">
                        </div>
                        <div class="btn-alignment" style="border-bottom:1px solid white;padding-bottom:20px;">
                            <p class="loader" *ngIf="signuploader==false"></p>
                        <button type="submit" class="btn btn-primary" (click)="sendcode()">Sendcode</button>
                        </div>
                      <div class="form-group">
                              <label for="">New password</label>
                                <input type="password" class="form-control" id="exampleInputEmail5" name="password" [(ngModel)]="password" placeholder="password"> 
                                                 </div>
                                                 <div class="form-group">
                                                    <label for="">Reset Code</label>
                                                        <input type="text" class="form-control" id="exampleInputEmail5" name="Resetcode" [(ngModel)]="Resetcode" placeholder="ResetCode">
                                               </div>
                            <div class="btn-alignment">
                                <p class="loader" *ngIf="signinloader==false"></p>
                            <button type="submit" class="btn btn-primary" (click)="resetpassword()">Reset</button>
                            </div>
                          </form>
                       
                    </div>
                
                    <div class="signup">
                        <a [routerLink]="['/sigin']" style="font-size:16px;">signin</a>
                    </div>
                   
                  </div>
            </div>
            <div class="col-md-4">
                
                </div>
        </div>
        <div class="container footer">
                <div class="row" >
                  <div class="footer-main-div">
                    <div class="footer-social-icons">
                      <ul>
                          <p>Follow me</p>
                      <li><a href="https://twitter.com/Ashok82652056" target="_blank"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="https://www.instagram.com/__ashokvirat__/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://www.facebook.com/bejo.carter" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href="https://github.com/ashok-virat" target="_blank"><i class="fab fa-github"></i></a></li>
                      </ul>
                      <p>aruashok17@gmail.com</p>
                    </div>
                  </div>
                </div>
              </div>
    </div>